body{
    background: url('../img/header-bg.jpg') top center no-repeat;
    background-size: cover;
    padding-bottom: 4rem;
    p{
        color:#fff;
        border:2px solid red;
        padding: 10px;
        text-align: center;
        margin: 2rem auto 4rem;
        width: 90%;
        max-width: 900px;
        font-size: 24px;
    }
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            display: block;
            color: #fff;
            font-size: 1.5rem;
            padding: 1rem 2rem;
            background-color: #12bd00;
            border-radius: 15px;
            text-decoration: none;
            &:hover{
                transition: 0.3s;
                background-color: #35772e;
                margin-top: 10px;
                box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.5);
                margin-bottom: -10px;
            }
        }
    }
    .videos_wr{
        padding: 15px 0;
        background-color: rgba(0,0,0,0.5);
        overflow: hidden;
        position: relative;
        &:before{
            content: '';
            background: url(../img/header-bg.jpg) top center no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            filter: blur(10px);
            opacity: 0.7;
        }
    }
    .row.videos{
        > div{
            width: 90%;
            padding-bottom: calc(56.25% / 2);
        }
    }
    .main_player{
        position: absolute;
        width:90%;
        height: 90%;
        top:5%;
        left:5%;
        background-color:#000;
        iframe{
            width:100%;
            height:100%;
        }
    }
}

@media (max-width: 767px)
{
    body .row.videos>div
    {
        padding-bottom: 56.25%;
    }
}