@font-face {
    font-family: 'vlite';
    src: url("../fonts/vlite.woff?") format("woff"), url("../fonts/vlite.woff2") format("woof2");
    font-weight: normal;
    font-style: normal;
}

.player-icon {
    font-family: 'vlite' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper-vlite, .wrapper-vlite * {
    box-sizing: border-box;
}

.wrapper-vlite div, .wrapper-vlite span, .wrapper-vlite p, .wrapper-vlite a, .wrapper-vlite ul, .wrapper-vlite li, .wrapper-vlite form, .wrapper-vlite label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.wrapper-vlite body {
    line-height: 1;
}

.wrapper-vlite ul {
    list-style: none;
}

.vlite-js {
    width: 100%;
    height: 100%;
}

.wrapper-vlite {
    font-family: 'Roboto', arial, sans-serif;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    background-color: #000;
    overflow: hidden;
}

.wrapper-vlite::full-screen {
    width: 100%;
    height: 100%;
}

.wrapper-vlite:not(.force-controls) video::-webkit-media-controls-enclosure {
    display: none !important;
}

.wrapper-vlite::-webkit-full-screen {
    width: 100%;
    height: 100%;
}

::-moz-full-screen .wrapper-vlite {
    width: 100%;
    height: 100%;
}

.wrapper-vlite::-moz-full-screen {
    width: 100%;
    height: 100%;
}

.wrapper-vlite.fullscreen-display .control-bar,
.wrapper-vlite.fullscreen-display .big-play-button {
    z-index: 2147483647;
}

.wrapper-vlite.loading .wrapper-loader {
    opacity: 1;
    visibility: visible;
}

.wrapper-vlite.loading .big-play-button {
    opacity: 0;
}

.wrapper-vlite .wrapper-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: opacity 200ms ease-in, visibility 200ms ease-in;
}

.wrapper-vlite .wrapper-loader .loader {
    margin: 0 auto;
    width: 70px;
    text-align: center;
}

.wrapper-vlite .wrapper-loader .loader > div {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.wrapper-vlite .wrapper-loader .loader .loader-bounce-1 {
    animation-delay: -0.32s;
}

.wrapper-vlite .wrapper-loader .loader .loader-bounce-2 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

.wrapper-vlite .vlite-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper-vlite.playing .poster, .wrapper-vlite.paused:not(.first-start) .poster {
    visibility: hidden;
    opacity: 0;
}

.wrapper-vlite.playing .big-play-button {
    visibility: hidden;
    opacity: 0;
}

.wrapper-vlite.playing .play-pause-button .icon-pause2 {
    display: block;
}

.wrapper-vlite.paused .play-pause-button .icon-play3 {
    display: block;
}

.wrapper-vlite .overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper-vlite .poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.wrapper-vlite .poster.active {
    opacity: 1;
    visibility: visible;
}

.wrapper-vlite .big-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    z-index: 2;
    transition: opacity 200ms ease-in;
    transition-delay: 100ms;
}

.wrapper-vlite .big-play-button .player-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 60px;
}

.wrapper-vlite .big-play-button .icon-play2:before {
    content: "\ea15";
}

.wrapper-vlite .control-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding-top: 3px;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.wrapper-vlite .control-bar .control-bar-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper-vlite .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

.wrapper-vlite .progress-bar .progress-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.wrapper-vlite .progress-bar .progress-seek {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
}

.wrapper-vlite .play-pause-button {
    position: relative;
    float: left;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

.wrapper-vlite .play-pause-button .player-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.wrapper-vlite .play-pause-button .icon-play3:before {
    content: "\ea1c";
}

.wrapper-vlite .play-pause-button .icon-pause2:before {
    content: "\ea1d";
}

.wrapper-vlite .time {
    color: #fff;
    font-size: 13px;
    float: left;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper-vlite .volume {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

.wrapper-vlite .volume .player-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.wrapper-vlite .volume:not(.muted) .icon-volume-high {
    display: block;
}

.wrapper-vlite .volume.muted .icon-volume-mute {
    display: block;
}

.wrapper-vlite .volume .icon-volume-high:before {
    content: "\ea26";
}

.wrapper-vlite .volume .icon-volume-mute:before {
    content: "\ea29";
}

.wrapper-vlite .fullscreen {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

.wrapper-vlite .fullscreen .player-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 18px;
}

.wrapper-vlite .fullscreen:not(.exit) .icon-fullscreen {
    display: block;
}

.wrapper-vlite .fullscreen.exit .icon-shrink {
    display: block;
}

.wrapper-vlite .fullscreen .icon-shrink:before {
    content: "\e900";
}

.wrapper-vlite .fullscreen .icon-fullscreen:before {
    content: "\e901";
}